<h3>Nouveau mail sur le CV en ligne !</h3>

<div class="container">
    <div>
        <h4>Nom / Société :</h4>
        <p class="lead">{{ data.name }}</p>
    </div>
    <div>
        <h4>Objet : </h4>
        <p class="lead">{{ data.object }}</p>
    </div>
    <div>
        <h4>Numéro de téléphone :</h4>
        <p class="lead">
            {% if data.phone %}
                {{ data.phone }}
            {% else %}
                Non-renseigné        
            {% endif %}
        </p>
    </div>
    <div>
        <h4>Adresse mail : </h4>
        <p class="lead">
            {% if data.mail %}
                {{ data.mail }}
            {% else %}
                Non-renseignée       
            {% endif %}
        </p>
    </div>
    <div>
        <h4>Contenu :</h4>
        <p class="lead">{{ data.content }}</p>
    </div>
</div>

<hr>

<a href="https://baptiste-bidaux.herokuapp.com/messages">Accéder au site</a>















