{% extends "base.html.twig" %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="container" id="messages-page">
        <h1 class="my-5">Liste des messages</h1>

        {% for message in messages %}
            <div class="container message">
                <h3>
                    Message de <strong>{{ message.name }}</strong> envoyé le <strong>{{ message.createdAt | date("d/m/Y \\à H:i") }}</strong>
                </h3>
                <div class="sender-contact">
                    (
                        {% if message.phone %}
                            <a href="tel:{{ message.phone }}" class="number" style="color: white;">{{ message.phone }}</a>
                        {% else %}
                            Pas de téléphone
                        {% endif %}
                        -
                        {% if message.mail %}
                            <a href="mailto:{{ message.mail }}" style="color: white;">{{ message.mail }}</a>
                        {% else %}
                            Pas de mail
                        {% endif %}                 
                    )
                </div>
                <h4 class="mt-3">
                    <strong>{{ message.object }}</strong>
                </h4>
                <p>{{ message.content }}</p>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                <li class="page-item {% if page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ path('messages_page', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('messages_page', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %} disabled {% endif %}">
                    <a class="page-link" href="{{ path('messages_page', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <a href="{{ path('app_logout') }}" class="btn btn-lg btn-primary">Déconnexion</a>
        </div>

    </div>
{% endblock %}